<div id="notice"><%= notice %></div>
<h2>Posts</h2>

<p>ページ:<%= @posts.current_page %> / <%= @posts.num_pages %></p>
<p><%= @posts.total_count %>件中<%= @posts.offset_value %>
～<%= @posts.offset_value + @posts.length %>件を表示しています。</p>
<p><%= paginate @posts %></p>


<% # NEWを表示する期間（秒）
newd = 7 * 24 * 60 * 60 %>


<div id="news">
<ul>
<% @posts.each do |post| %>
<li id="post_<%= post.id %>">

<% # 投稿からの経過時間取得
pt = Time.now.tv_sec - post.created_at.tv_sec %>

作成日:
<%= # .strftime('%Y年%m月%d日 %H:%M:%S') 
post.created_at.strftime('%m/%d') %>

更新日:
<%= post.updated_at.strftime('%m/%d %H:%M') %>
(<%= time_ago_in_words(post.created_at) %>前)

<%# 経過時間がNEWを出す日数以下ならNEWを表示 %>
<% if pt < newd then %>
<%= image_tag('new.png', :alt => 'new icon', :size => '40*20') %>
<% end %>


<h4>
◆ <%= link_to post.title, post_path(post) %>
</h4>
Comments:<%= post.comments.size %>
<%= link_to 'Edt', edit_post_path(post) %>
<%= link_to 'Del', post, :confirm => 'Sure?',
                            :method => :delete,
                            :remote => true %>
</li>
<% end %>
</ul>
<p><%= paginate @posts %></p>


<h3>検索</h3>
<p>
<%= form_for @search_form, :url => posts_path,
  :html => {:method => :get} do |f| %>
  <%= f.search_field :q %>
  <%= f.submit '検索' %>
<% end %>
</p>
<%= link_to 'home', posts_path %> | <%= link_to 'New', new_post_path %>

<script>
$(function(){
  setTimeout(function(){
    $('#notice').fadeOut("slow");
  }, 800);

  $(document).on('ajax:success', 'a[data-method="delete"]', function(e, data, status, xhr) {
    $('#post_'+data.post.id).fadeOut("slow");
  });
});
</script>
