<h2>Listing categories</h2>

<p>ページ:<%= @categories.current_page %> / <%= @categories.num_pages %></p>
<p><%= @categories.total_count %>件中 <%= @categories.offset_value + 1  %>～<%= @categories.offset_value + @categories.length %>件を表示しています。</p>
<p><%= paginate @categories %></p>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category', new_category_path %>
