<h2>Listing categories</h2>

<p>ページ:<%= @categories.current_page %> / <%= @categories.num_pages %></p>
<p><%= @categories.total_count %>件中 <%= @categories.offset_value + 1  %>～<%= @categories.offset_value + @categories.length %>件を表示しています。</p>
<p><%= paginate @categories %></p>

<table>
  <tr>
    <th>カテゴリ名</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= link_to t('link.Show'), category %></td>
    <td><%= link_to t('link.Edit'), edit_category_path(category) %></td>
    <td><%= link_to t('link.Destroy'), category, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('link.NewCategory'), new_category_path %>
